# =================================================================
# General (Sistema Operativo, IDEs, etc.)
# =================================================================
.DS_Store
.vscode/
.vs/
.vs
.idea/
*.suo
*.user

# =================================================================
# Backend (Python / Django)
# =================================================================
# Entorno virtual y variables de entorno (¡Aquí van tus credenciales de Postgres!)
venv/
env/
ENV/
__pycache__/
/backend/backend/__pycache__
# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
/staticfiles/
/static/

# Environment variables
.env
.env.local
.env.*.local

# =================================================================
# Frontend (Node.js / React / Vite)
# =================================================================
# Dependencias
node_modules
package-lock.json
package.json

/frontend/node_modules/

# Archivos de build y caché de Vite
/frontend/dist/
/frontend/.vite/

# Archivos de log
/frontend/npm-debug.log*
/frontend/yarn-error.log
/frontend/yarn.lock

# Variables de entorno locales
/frontend/.env
/frontend/.env.local
/frontend/.env.*.local

# Reportes de tests
/frontend/coverage/
